/*SECTION LINE*/
.section__line {
  border-top: 2px solid #3e618c;
  width: 100%; }

.footer__line {
  border-top: 1px solid gray;
  width: 100%; }

/*FONT*/
.article__title {
  text-shadow: 5px 5px 5px #aaa; }

p, .copyright {
  color: black;
  text-align: center;
  font-size: 1.4rem; }

.copyright {
  font-size: 0.8rem; }

.disclaimer {
  display: none !important; }

body {
  overflow-x: hidden; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.nav__img__logo {
  max-width: 100px;
  height: auto; }

.header__user__img {
  max-width: 50px;
  height: auto;
  margin: 10px; }

nav {
  background-image: linear-gradient(0deg, #3e618c, #273d57);
  box-shadow: 0px 5px 10px #00000082;
  z-index: 2; }

.navbar-light .navbar-nav .nav-link {
  color: #fff; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #fff; }

.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
  background-color: #00000000;
  border-color: #dee2e6 #dee2e6 #fff;
  font-weight: bold; }

.navbar-light .navbar-nav .show > .nav-link {
  color: #fff; }

.dropdown-menu.show {
  background-color: #3e618c; }

.dropdown-item {
  color: #fff;
  background-color: #3e618c; }

.nav-tabs .nav-item.show .nav-link {
  background-color: #3e618c; }

.nav-tabs .nav-link.active {
  background-color: #3e618c; }

/*INDEX CAROUSEL SECTION*/
.carousel__mbt__col, .row {
  margin: 0;
  padding: 0;
  z-index: 1; }

.carousel-inner {
  width: 100%;
  object-fit: cover;
  object-position: center; }

/*INDEX FLOTA SECTION*/
.flota__img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 20px;
  border-radius: 20px;
  border: 2px solid get-map((principal: #3e618c, navbarColor: linear-gradient(0deg, #3e618c, #273d57), navbarText: #fff), principal) !important;
  box-shadow: 0px 5px 15px #0000006e; }

.staff__img {
  height: 200px;
  width: 200px;
  object-fit: cover; }

.detalle__tarifa {
  height: 200px; }

.img__galery img {
  min-height: 220px;
  width: 300px;
  object-fit: cover; }

/*///////////////////GRID///////////////////////*/
.login__body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 110px 400px 100px;
  grid-template-areas: "nav" "login" "footer";
  width: 100%;
  height: 100%; }

.header__background__nat {
  grid-area: nav; }

.login__section {
  grid-area: login; }

.footer {
  grid-area: footer; }

/*///////////////////MISC///////////////////////*/
.nav__menu__list__pages, .footer__ul__li__nat {
  text-decoration: none;
  list-style: none; }

.nav__menu__list__pages a:link, .nav__menu__list__pages a:visited, .nav__menu__list__pages a:active {
  color: #ffffff;
  text-decoration: none; }

.footer__ul__nat a:link, .footer__ul__nat a:visited, .footer__ul__nat a:active {
  color: #007bff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: lighter; }

/*///////////////////HEADER MENU NAV///////////////////////*/
.header__background__nat {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #629edd;
  box-shadow: 0 5px 5px 0px #0000005e;
  z-index: 2;
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(0deg, #3e618c, #273d57); }

.nav__menu {
  background-image: none;
  box-shadow: none;
  z-index: 2; }

.header__user__img__nat {
  width: 50px;
  padding: 1.5rem 3rem; }

.nav__img__logo__nat {
  width: 115px;
  padding: 1rem 1rem; }

.nav__menu__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding: 0px; }

.nav__menu__list__pages {
  width: 80px;
  border: solid 1px;
  padding: 5px 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px 5px 5px 5px;
  margin: 2px;
  background-color: #3e618c;
  transition: all .5s;
  height: 25px; }

.nav__menu__list__pages:hover {
  background-color: #273d57;
  transition: all .5s;
  height: 30px; }

.nav__menu__list__pages a:hover {
  color: #ffffff; }

.nav__menu__list__pages--hide {
  display: none; }

/*///////////////////SECTION///////////////////////*/
.login__body {
  text-decoration: none;
  margin: 0px;
  font-family: 'Frijole', cursive;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; }

.login__section {
  display: flex;
  flex-direction: column;
  align-items: center; }

.login__div {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 20%;
  align-items: center;
  margin-top: 35px; }

.login__div h1 {
  font-size: 30px; }

.login__div__p {
  font-size: 18px; }

.login__form {
  display: flex;
  flex-direction: column;
  width: 250px; }

.login__form input {
  padding: 10px;
  margin: 5px 0; }

/*/////////////////// FOOTER ///////////////////////*/
.footer__nat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.footer__ul__nat {
  display: flex;
  flex-direction: row; }

.footer__div__nat {
  display: flex;
  flex-direction: column; }

.footer__ul__nat a {
  padding: 0 3rem;
  font-weight: bold;
  font-size: 1.2rem; }

.footer__line__nat {
  width: 80%; }

.copyright__nat {
  text-align: center;
  font-size: 0.8rem;
  color: black; }

.copyright__name__nat {
  text-decoration: none; }

/*///////////////////MEDIA QUERY///////////////////////*/
@media screen and (max-width: 764px) {
  /*///GRID///*/
  .login__body {
    grid-template-rows: 400px 400px 100px; }
  /*///NAVBAR///*/
  .header__background__nat {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px; }
  .nav__menu__list {
    align-items: center;
    flex-direction: column; }
  .nav__img__logo {
    width: 100px;
    padding: 0px;
    margin: 5px 30px; }
  .nav__menu__list__pages {
    width: 280px;
    font-size: 16px;
    height: 20px; }
  .nav__menu__list__pages:hover {
    height: 20px; }
  .nav__menu {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__user__img__nat {
    padding: 0px 0px 15px;
    width: 40px; }
  .nav__img__logo__nat {
    width: 85px;
    padding: 5px; }
  /*///FOOTER///*/
  .footer__ul__nat {
    flex-direction: column;
    text-align: center;
    padding: 15px 0; }
  .copyright__nat {
    margin: 5px 0; } }
