<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Disponemos de tanto de aeronaves bimotor, monomotor y helicóptero para realizar el servicio a tu medida">
	<meta name="keywords" content="ESCUELA DE VUELO, VOLAR, VUELO, AVIACION, VUELOS PRIVADOS, HELICOPTERO, VIAJE, INSTRUCCION, AERONAVES, R44, PA31, P2022, ROBINSON, PIPER, NAVAJO, TECNAM">
	<title>MBT - Aeronaves</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
		<a class="navbar-brand col-4 col-lg-1 col-xl-1" href="../index.html"><img src="../assets/img/mbtlogo.png" alt="logombt" class="img-fluid nav__img__logo"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="col-4 col-lg-1 align-self-center text-right d-lg-none">
			<a href="#"><img src="../assets/img/userlogin.png" alt="userimg" class="img-fluid header__user__img"></a>
		</div>		
		<div class="collapse navbar-collapse justify-content-center align-self-lg-end col-12 col-lg-10 col-xl-10" id="navbarNavDropdown">
			<ul class="navbar-nav nav-tabs align-items-center">
				<li class="nav-item"><a class="nav-link px-4 px-lg-2" href="../index.html">Inicio</a></li>
				<li class="nav-item"><a class="nav-link px-4 px-lg-2" href="nosotros.html">Nosotros</a></li>
				<li class="nav-item"><a class="nav-link px-4 px-lg-2" href="servicios.html">Servicios</a></li>
				<li class="nav-item dropdown text-center">
			        <a class="nav-link px-4 px-lg-2 dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
			          Aeronaves
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			          <a class="dropdown-item" href="aeronaves.html#r44">Robinson R-44</a>
			          <a class="dropdown-item" href="aeronaves.html#p2002">Tecnam P-2002</a>
			          <a class="dropdown-item" href="aeronaves.html#pa31">Piper PA-31 Navajo</a>
			        </div>
				</li>
				<li class="nav-item"><a class="nav-link px-4 px-lg-2" href="galeria.html">Galería</a></li>
				<li class="nav-item"><a class="nav-link px-4 px-lg-2" href="instruccion.html">Instrucción</a></li>
				<li class="nav-item"><a class="nav-link px-4 px-lg-2" href="contacto.html">Contacto</a></li>    
			</ul>
		</div>
		<div class="col-4 col-lg-1 text-center d-none d-lg-block">
			<a href="#"><img src="../assets/img/userlogin.png" alt="userimg" class="img-fluid header__user__img"></a>
		</div>		
	</nav>
	<div class="row d-flex justify-content-center">
		<main class="r44__section col-10 col-lg-10">
			<a name="r44"></a>
			<article class="r44__article d-flex flex-column justify-content-center">
				<h1 class="d-none">Aeronaves</h1>
				<h2 class="article__title text-center h1 my-5">Robinson R-44</h2>
				<div class="d-flex flex-column flex-lg-row justify-content-center">
					<figure class="section__aero__figure col-lg-5 d-flex justify-content-center align-self-center">
						<img src="../assets/img/aeronave01.jpg" alt="r441" class="section__aero__figure__img w-100">
						<!--<img src="" alt="r442"!-->
						<!--<img src="" alt="r443"> -->
					</figure>
					<div class="section__aero__div col-lg-7 h5 font-weight-normal align-self-center">
						<p class="section__aero__div__p text-justify">El Robinson R44 es un helicóptero civil construido por Robinson Helicopters. Basado en el helicóptero biplaza Robinson R22, el R44 dispone de mandos hidráulicos y capacidad para 4 personas.</p>
						<ul>
							<li>Alcance: 560 km</li>
							<li>Tipo de motor: Lycoming O-540</li>
							<li>Primer vuelo: 31 de marzo de 1990</li>
							<li>Tipo: Helicóptero utilitario y de entrenamiento</li>
						</ul>
					</div>
				</div>	
			</article>
			<hr class="section__line my-5">
		</main>
	</div>
	<div class="row d-flex justify-content-center">	
		<section class="pa31__section col-10 col-lg-10">
			<a name="pa31"></a>
			<article class="pa31__article d-flex flex-column justify-content-center">
				<h2 class="article__title h1 my-5 text-center">Piper PA-31 Navajo</h2>
				<div class="d-flex flex-column flex-lg-row justify-content-center">
					<figure class="section__aero__figure col-lg-5 d-flex justify-content-center align-self-center">
						<img src="../assets/img/aeronave02.jpg" alt="pa311" class="section__aero__figure__img w-75">
						<!-- <img src="" alt="pa312"> -->
						<!-- <img src="" alt="pa313"> -->
					</figure>
					<div class="section__aero__div col-lg-7 h5 font-weight-normal  align-self-center">
						<p class="section__aero__div__p">El Piper PA-31 Navajo es un avión bimotor para aviación civil construido por la compañía estadounidense Piper Aircraft usando motores Lycoming. Este aparato también fue construido bajo licencia por la compañía brasileña Embraer con denominación EMB820.</p>
						<ul>
							<li>Alcance: 1875 km</li>
							<li>Tipo de motor: 2× motor de pistones opuestos horizontalemnte 6 cilindros refrigerado por aire Lycoming TIO-540-A.</li>
							<li>Potencia: 231 kW (310 HP) cada uno.</li>
							<li>Velocidad crucero (Vc): 383 km/h (238 MPH; 207 kt) a 6100 m</li>
							<li>Techo de vuelo: 7315 m (24 000 ft)</li>
						</ul>
					</div>
				</div>
			</article>
			<hr class="section__line my-5">		
		</section>
	</div>
	<div class="row d-flex justify-content-center">
		<section class="p2002__section col-10 col-lg-10">
			<a name="p2002"></a>
			<article class="p2002__article d-flex flex-column justify-content-center">
				<h2 class="article__title h1 my-5 text-center">Tecnam P-2002</h2>
				<div class="d-flex flex-column flex-lg-row justify-content-center">
					<figure class="section__aero__figure col-lg-5 d-flex justify-content-center align-self-center">
						<img src="../assets/img/aeronave03.jpg" alt="p20021" class="section__aero__figure__img w-100">
						<!-- <img src="" alt="p20022"> -->
						<!-- <img src="" alt="p20023"> -->
					</figure>
					<div class="section__aero__div h5 font-weight-normal col-lg-7 align-self-center">
						<p class="section__aero__div__p">El P2002 es un avión biplaza lado a lado, ala baja, con tren de aterrizaje fijo. El P2002 se caracteriza por sus superlativas prestaciones y cualidades de vuelo, y validados en 15 países no europeos. La facilidad de pilotaje y mantenimiento hacen de este avión una excelente solución para la formación de pilotos en escuelas de vuelo, pero también lo hacen ideal como plataforma de vigilancia y patrulla, y por supuesto para vuelos de turismo.</p>
						<ul>
							<li>Alcance: 1,178 km</li>
							<li>Velocidad de crucero: 225 km/h</li>
							<li>Peso: 331 kg</li>
							<li>Velocidad máxima: 290 km/h</li>
							<li>Longitud: 6.6 m</li>
							<li>Tipo de motor: Rotax 912</li>
						</ul>
					</div>
				</div>
			</article>	
		</section>
	</div>						
	<footer class="row d-flex justify-content-center">
		<div class="col-12 col-lg-6 d-flex flex-column text-center">
			<hr class="footer__line my-5">
			<div class="footer__div">
				<ul class="footer__ul list-unstyled d-flex flex-column flex-lg-row justify-content-around">
					<li class="footer__ul__li"><a href="index.html" class="footer__text">Inicio</a></li>
					<li class="footer__ul__li"><a href="https://www.facebook.com/MBT-Aeronautics-295474168035404/" target="_blank" class="footer__text">Facebook</a></li>
					<li class="footer__ul__li"><a href="https://www.instagram.com/mbt.aeronautics/" target="_blank" class="footer__text">Instagram</a></li>
					<li class="footer__ul__li"><a href="views/contacto.html" class="footer__text">Contacto</a></li>
				</ul>
				<p class="copyright">Todos los derechos reservados a Franco Córdoba</p>
			</div>
		</div>
	</footer>		
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>
</html>