<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Realizamos vuelos de instrucción a tu medida con el moderno avión Tecnam p-2002">
	<meta name="keywords" content="ESCUELA DE VUELO, VOLAR, VUELO, AVIACION, VUELOS PRIVADOS, HELICOPTERO, VIAJE, INSTRUCCION, TECNAM, P2002, P-2002, APRENDER A VOLAR">
	<title>MBT - Instrucción</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Frijole&family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="login__body">
	<header class="header__background__nat">
		<a href="../index.html" class="nav__menu__a"><img src="../assets/img/mbtlogo.png" alt="logombt" class="nav__img__logo__nat"></a>
		<nav class="nav__menu">	
			<ul class="nav__menu__list">
				<li class="nav__menu__list__pages"><a href="../index.html">Inicio</a></li>
				<li class="nav__menu__list__pages"><a href="nosotros.html">Nosotros</a></li>
				<li class="nav__menu__list__pages"><a href="servicios.html">Servicios</a></li>
				<li class="nav__menu__list__pages"><a href="aeronaves.html">Aeronaves</a></li>
			        <ul class="nav__menu__list__pages--hide">
			        	<li>Robinson R-44</li>
			        	<li>Tecnam P-2002</li> 	
			        	<li>Piper PA-31 Navajo</li>
			        </ul>	
				<li class="nav__menu__list__pages"><a href="galeria.html">Galeria</a></li>
				<li class="nav__menu__list__pages"><a href="instruccion.html">Instrucción</a></li>
				<li class="nav__menu__list__pages"><a href="contacto.html">Contacto</a></li>
			</ul>
		</nav>
		<a href="login.html"><img src="../assets/img/userlogin.png" alt="userimg" class="header__user__img__nat"></a>
	</header>
	<section class="login__section">
		<div class="login__div">
			<h1>LOGIN</h1>
			<p class="login__div__p">Aquí puede loguearse para acceder a contenido especial</p>
			<form action="" class="login__form">
				<input type="text" placeholder="Usuario" class="form-control my-1" required>
				<input type="password" placeholder="Contraseña" class="form-control my-1" required>
				<input type="submit" value="Ingresar" class="btn btn-outline-primary mt-2 mb-5 shadow">
			</form>
		</div>
	</section>	
	<footer class="footer__nat">
		<hr class="footer__line__nat">
		<div class="footer__div__nat">
			<ul class="footer__ul__nat">
				<li class="footer__ul__li__nat"><a href="index.html" class="footer__text">Inicio</a></li>
				<li class="footer__ul__li__nat"><a href="https://www.facebook.com/MBT-Aeronautics-295474168035404/" target="_blank" class="footer__text">Facebook</a></li>
				<li class="footer__ul__li__nat"><a href="https://www.instagram.com/mbt.aeronautics/" target="_blank" class="footer__text">Instagram</a></li>
				<li class="footer__ul__li__nat"><a href="contacto.html" class="footer__text">Contacto</a></li>
			</ul>
			<p class="copyright__nat">© 2022. Todos los derechos reservados a <span><a href="https://www.linkedin.com/in/franco-cordoba-529831219/" class="copyright__name__nat" target="_blank">Franco Córdoba</a></span></p>
		</div>
	</footer>
</body>
</html>